In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [2]:
data_path = r"C:\Users\Leaper\Desktop\ML_CODE\Regression\3_Linear Regression Data-set\Chromatic.csv"
data = pd.read_csv(data_path, header = None)

In [3]:
y_label = pd.DataFrame([0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
                        1, 1, 1, 1, 1,1, 1, 1, 1, 1,
                        2, 2, 2, 2, 2, 2, 2, 2, 2, 2])
y_label

    0
0   0
1   0
2   0
3   0
4   0
5   0
6   0
7   0
8   0
9   0
10  1
11  1
12  1
13  1
14  1
15  1
16  1
17  1
18  1
19  1
20  2
21  2
22  2
23  2
24  2
25  2
26  2
27  2
28  2
29  2

In [4]:
data = data.drop(data.X[298], axis=0)
data.reset_index(drop = True,inplace = True)
data = data.drop(data.X[297], axis=0)
data.reset_index(drop = True,inplace = True)

AttributeError: 'DataFrame' object has no attribute 'X'

In [ ]:
data

In [ ]:

f, ax = plt.subplots(figsize = (12, 8))
ax.scatter(data.X, data.Y)

In [ ]:
#给X， y分布值
X = data.iloc[:, 0].to_numpy().reshape(-1,1)
X
y = data.iloc[:, 1].to_numpy().reshape(-1,1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)
accuracy = model.score(X_test, y_test)
print(accuracy)

In [ ]:
f, ax = plt.subplots(figsize = (12, 8))
ax.scatter(X_test, y_test, label = 'test', color = 'green')
ax.scatter(X_test, y_pred, label = 'pred', color = 'red')
ax.legend(loc = 2)